/* Index.blade */

/* Primer Sección */

.p-superior-index {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: var(--rojo-principal);
}

.h1-index {
    text-align: center;
    color: var(--azul-principal);
    font-size: 2.25rem;
}

.p-index {
    padding-top: 1rem;
    text-align: center;
    color: var(--azul-principal);
    font-size: 16px;
}

.contenedor-lineas {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.primer-linea-superior {
    margin-top: 2rem;
    border-radius: 20px;
    background-color: var(--celeste-secundario);
    width: 70vw;
    height: 4px;
}

.segunda-linea-superior {
    margin-top: 2rem;
    border-radius: 20px;
    background-color: var(--rojo-principal);
    width: 90vw;
    height: 4px;
}

.section-index {
    margin-top: -4rem !important;
}

.buton-1-cta {
    background-color: var(--azul-principal) !important;
    color: var(--blanco-institucional);
}

.buton-1-cta:hover {
    background-color: var(--celeste-secundario) !important;
    color: var(--blanco-institucional);
}

/* Segunda sección */

.span-segunda-seccion-index {
    font-weight: bold !important;
}

.div-seccion-2-index {
    background-color: var(--azul-principal);
    border-color: var(--azul-principal);
    color: var(--blanco-institucional);
    border-radius: 20px;
}

.img-seccion-2-index {
    border-radius: 20px;
}

.div-seccion-2-index img {
    border-radius: 20px;
}

.div-seccion-2-index h1 {
    font-weight: bold;
}

/* Tercer sección */

.cta-seccion-3-index:hover {
    font-weight: bold;
    cursor: pointer;
}

.icon-seccion-3-index {
    height: 50px !important;
    width: auto !important;
}

/* Cuarta sección */

.linea-seccion-4-index {
    margin-top: 0.5rem;
    background-color: var(--azul-principal);
}
