/* Provincias */

/* MostrarProvincias.blade */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
    justify-items: center;
    /* Centra los elementos horizontalmente */
}

.card {
    width: 100%;
    /* Asegura que la tarjeta no se agrande más de su contenedor */
    max-width: 250px;
    /* Ajusta según el tamaño deseado */
}

.h1-provincias {
    padding-top: 3rem;
    text-align: center;
}

.texto-introduccion-provincias {
    font-size: large;
}

/* Submenu */

.submenu-boton {
    background-color: var(--azul-principal);
    color: var(--blanco-institucional);
}

.submenu-boton:hover {
    background-color: var(--celeste-secundario);
    color: var(--blanco-institucional);
}

.submenu {
    width: auto;
    height: auto;
}

/* Introduccion */

.span-h1-provincias {
    color: var(--azul-principal);
}

.linea-introduccion {
    margin-bottom: 0.4rem;
    background-color: var(--azul-principal);
}

.linea-introduccion-2 {
    margin-bottom: 0.4rem;
    background-color: var(--rojo-principal);
}

/* Filtrado */

.filtros-boton {
    background-color: var(--celeste-secundario);
    color: var(--azul-principal);
}

.filtros-boton:hover {
    background-color: var(--azul-principal);
    color: var(--blanco-institucional);
}

.filtrar-boton {
    background-color: var(--celeste-secundario);
    color: var(--azul-principal);
}

.filtrar-boton:hover {
    background-color: var(--azul-principal);
    color: var(--blanco-institucional);
}

.span-filtros {
    background-color: var(--blanco-institucional);
    color: var(--rojo-secundario);
}

/* Detalles */

.bg-card-detalles {
    background-color: var(--azul-principal) !important;
    color: var(--blanco-institucional) !important;
}

/* Modal compartir */

.share-btn {
    border-radius: 50%;
    appearance: none;
    padding: 1rem;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 6px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background: var(--celeste-secundario);
}

.share-btn:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 12px 24px;
}

/* Ajustes */

@media (min-width: 426px) and (max-width: 1024px) {
    .div-contenedor-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .titulo-boton {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .titulo-boton {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
