/* Provincias */

    /* MostrarProvincias.blade */

    .h1-provincias{
        padding-top: 3rem;
        text-align: center;
    }

    .texto-introduccion-provincias{
        font-size: large;
    }

    /* Submenu */

    .submenu-boton{
        background-color: var(--azul-principal);
        color: var(--blanco-institucional);
    }

    .submenu-boton:hover{
        background-color: var(--celeste-secundario);
        color: var(--azul-principal);
    }

    .submenu{
        width: auto;
        height: auto;
    }

    /* Introduccion */

    .span-h1-provincias{
        color: var(--azul-principal);
    }

    /* Filtrado */

    .filtros-boton{
        background-color: var(--celeste-secundario);
        color: var(--azul-principal);
    }

    .filtros-boton:hover{
        background-color: var(--azul-principal);
        color: var(--blanco-institucional);
    }

    .filtrar-boton{
        background-color: var(--celeste-secundario);
        color: var(--azul-principal);
    }

    .filtrar-boton:hover{
        background-color: var(--azul-principal);
        color: var(--blanco-institucional);
    }

    /* .div-contenedor-filtro{
        display: flex !important;
        justify-content: center !important;
    } */